@tailwind base;
@tailwind components;
@tailwind utilities;

/* begin: ovveride swiper */
.swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff !important;
  opacity: 100% !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 40px !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #40aa52 !important;
}
/* end: ovveride swiper */
